<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<head>
        <title>注册表单</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- description -->

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <!-- Material Design Icons CSS -->
        <link rel="stylesheet" href="/static/css/materialdesignicons.css">
        <!-- Bootstrap Checkbox CSS -->
        <link rel="stylesheet" href="/static/css/awesome-bootstrap-checkbox.css">
        <!-- Rippler CSS -->
        <link rel="stylesheet" href="/static/css/rippler.min.css">
        <!-- Style CSS -->
    <link rel="stylesheet" href="/static/css/style1.css">
        <!-- Responsive  CSS -->
        <link rel="stylesheet" href="/static/css/responsive.css">
        <script src="/static/js/jquery.3.3.1.min.js"></script>
    <script src="/static/js/register.js"></script>
    </head>


<body>

<div class="container py-2">
    <div class="row">
        <div class="col-md-12">
            <div class="logo">
                <a href="#">
                    <h1>注册</h1>
                </a>
            </div>
            <div class="row">
                <div class="col-md-6 login-form mx-auto">
                    <!-- form card login -->
                    <div class="card">
                        <!-- <div class="card-header">
                             <h3 class="mb-0">登录</h3>
                         </div>-->
                        <div class="card-body">
                            <form id="formLogin" method="POST" class="formLogin">
                                <div class="form-group">
                                    <input class="form-control" id="account"  placeholder="账户名"
                                           type="text" required="">
                                    <i class="fa fa-user"></i>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="密码" id="password"
                                           required="">
                                    <i class="fa fa-lock"></i>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="确认密码" id="password2"
                                           required="">
                                    <i class="fa fa-lock"></i>
                                </div>
                                <!--<div class="row mb-3">
                                    <div class="col-md-12">
                                        <div class="checkbox checkbox-primary">
                                            <input id="checkbox1" class="styled" type="checkbox">
                                            <label for="checkbox1">
                                                记住
                                            </label>
                                        </div>
                                    </div>
                                </div>-->
                                <div class="row mb-3">
                                    <div class="col-lg-12 text-right">
                                        <a type="submit" href="javascript:void (0)"
                                           class="btn btn-success hover-btn btn-wd " id="btnLogin" onclick="register()">
                                            注册</a>
                                    </div>
                                </div>
                            </form>
                            <div class="naw-text mb-3">
                                <h5>其他方式</h5>
                            </div>
                            <div class="row mb-3">
                                <!--<div class="col-lg-6">
                                    <a href="#" class="btn btn-primary btn-wd fb btn-block">
                                    <span><i class="fa fa-facebook"></i> &nbsp;&nbsp;&nbsp;登录脸书</span>
                                    </a>
                                </div>
                                <div class="col-lg-6">
                                    <a href="#" class="btn btn-info btn-wd gp btn-block">
                                    <span><i class="fa fa-google-plus"></i> &nbsp;&nbsp;&nbsp;登录谷歌</span>
                                    </a>
                                </div>-->
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="create-box text-block text-center my-0">
                                        <span class="text-small font-weight-semibold">已有账号？</span>
                                        <label class="forgot-password"><a href="/User/Login">登录</a></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/card-block-->
                        <!--<div class="card-footer">
                            <div class="copy-text">Copyright &copy; 2020.Company name All rights reserved.<a
                                    target="_blank"
                                    href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></div>
                        </div>-->
                    </div>
                    <!-- /form card login -->
                </div>
            </div>
            <!--/row-->
        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->

<!-- jquery latest version -->
<script src="/static/js/jquery.min.js"></script>
<!-- popper.min.js -->
<script src="/static/js/popper.min.js"></script>
<!-- bootstrap js -->
<script src="/static/js/bootstrap.min.js"></script>
<!-- Jquery Rippler js -->
<script src="/static/js/jquery.rippler.min.js"></script>
<!-- script js -->
<script src="/static/js/script.js"></script>
</body>
</html>